# Dependencies
node_modules/
vendor/

# Build files
dist/
build/
assets/build/

# Composer
composer.lock

# NPM
package-lock.json
npm-debug.log*
yarn.lock
pnpm-lock.yaml

# IDEs
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Environment files
.env
.env.*

# PHPUnit
.phpunit.result.cache

# Coverage
coverage/

# Temporary files
*.tmp
*.swp
*.bak

# WordPress
wp-config.php

# Archive files
*.zip